// COLORS
$primary-color: #6979af;
$secondary-color: #a083f1;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(24, 21, 21);

$dark-grey: #2c2b2b;

$dark-blue-text: #e2e3e7; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
